# ===========================
# VARIABLES D'ENVIRONNEMENT
# ===========================

.env

# ===========================
# PYTHON
# ===========================

__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
.venv/
env/

# ===========================
# FLASK
# ===========================

instance/
.flaskenv

# ===========================
# OUTILS
# ===========================

.vscode/
.idea/

# ===========================
# LOGS
# ===========================

*.log

# ===========================
# SYSTEME
# ===========================

.DS_Store
Thumbs.db
desktop.ini

# ===========================
# TESTS
# ===========================

.pytest_cache/
.coverage
htmlcov/

# ===========================
# BUILD
# ===========================

build/
dist/
*.egg-info/
